<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body
    style="background-color: rgba(0, 0, 0, 0.121); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; display:flex ; justify-content: center;  flex-direction:column; align-items: center;">

    <form action="/login" method="POST">
        <fieldset
            style="display:flex ; justify-content: center; align-items: center; flex-direction:column; gap:7px ; border:1px solid black;  border-radius: 2vh; padding:6vh">
            <legend style="font-weight: 500;">Login Form</legend>
            <label for="email">Email :</label>
            <input type="email" autofocus name="email" required>
            <label for="password">Password :</label>
            <input type="password" name="password" required>
            <input
                style="border:1px solid rgb(255, 255, 255) ; text-decoration: none; padding:1vh 4vh; border-radius: 1vh; color: azure; background-color: rgba(0, 0, 0, 0.784); font-weight:100; cursor: pointer;"
                type="submit" value="Submit"> <a
                style="border:1px solid rgb(255, 255, 255) ; text-decoration: none; padding:1px 4px; border-radius: 1vh; color: azure; background-color: rgba(0, 0, 0, 0.784); font-weight:100; "
                href="/register">Register</a>
        </fieldset>
    </form>
</body>

</html>